.lines{
    position: absolute;
    top: 0;
    left: 50%;
    height: 100%;
    width: calc(100% - 140px);
    z-index: 100;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    pointer-events: none;
    max-width: 1300px;
}

.line {
    position: absolute;
    top: 0;
    width: 1px;
    height: 100%;
    background-color: black;
    opacity: .09;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: calc(33.32% + 37px);
    height: 100%;
    background-color: #DECBC8;
    z-index: -1;
    -webkit-transition: .5s cubic-bezier(.785,.135,.15,.86);
    transition: .5s cubic-bezier(.785,.135,.15,.86);
}

.line:first-child {
    left: 16.66%;
}
.line:nth-child(2) {
    left: 34.32%;
}

.line:nth-child(3) {
     left: 49.98%;
}

.line:nth-child(4) {
    left: 66.64%;
}

.line:nth-child(5) {
    left: 83.3%;
}
.line:nth-child(6) {
    left: 99.96%;
}

